In [1]:
import pandas as pd

In [3]:
users = pd.read_csv('MOCK_DATA_users.csv')
users.head()

,uid,uname,upassword,upicurl,ucash
0,nmatussevich0,Nelia Matussevich,fbgaLX,http://dummyimage.com/250x250.jpg/cc0000/ffffff,6976
1,ireavey1,Irita Reavey,GckrkXBusJ,http://dummyimage.com/250x250.jpg/cc0000/ffffff,6197
2,tstrode2,Travis Strode,lgMLcPE,http://dummyimage.com/250x250.jpg/dddddd/000000,5376
3,ogeist3,Ogdan Geist,aziDXRLc7,http://dummyimage.com/250x250.jpg/dddddd/000000,9565
4,lkaradzas4,Laverne Karadzas,5xGKdD,http://dummyimage.com/250x250.jpg/dddddd/000000,7831

In [23]:
with open('users2.sql', 'w') as file:
    for index, row_series in users.iterrows():
        file.write(f'''
        INSERT INTO users (uid, uname, upassword, upicurl, ucash)
        VALUES (
            '{row_series.uid}', '{row_series.uname}', '{row_series.upassword}', '{row_series.upicurl}', {row_series.ucash}
        );
        
        ''')

In [4]:
projects = pd.read_csv("MOCK_DATA_projects.csv")
projects.head()

,pid,ptarget,pdeadline,pdesc,ppicurl
0,Keylex,2000000,2020-11-13 09:34:56,Vestibulum ante ipsum primis in faucibus orci ...,http://dummyimage.com/250x250.jpg/cc0000/ffffff
1,Sub-Ex,4200000,2020-11-27 04:30:49,Aenean sit amet justo. Morbi ut odio. Cras mi ...,http://dummyimage.com/250x250.jpg/5fa2dd/ffffff
2,Konklux,2800000,2020-12-26 09:21:05,Pellentesque eget nunc. Donec quis orci eget o...,http://dummyimage.com/250x250.jpg/dddddd/000000
3,Subin,1300000,2021-01-11 14:04:20,In hac habitasse platea dictumst. Maecenas ut ...,http://dummyimage.com/250x250.jpg/cc0000/ffffff
4,Voltsillam,3100000,2020-12-28 03:33:51,Nulla tempus. Vivamus in felis eu sapien cursu...,http://dummyimage.com/250x250.jpg/5fa2dd/ffffff

In [6]:
projects.shape

(500, 5)

In [5]:
dtrans= pd.read_csv("MOCK_DATA_dtrans.csv")
dtrans.head()

                 dtime    damt  dtrans
0  2019-12-08 10:52:02  221000   False
1  2020-11-29 10:50:19  379000   False
2  2020-03-26 17:03:52  455000   False
3  2020-11-02 11:27:28   91000   False
4  2020-03-04 19:31:36  400000   False

In [10]:
users.uid.sample(1).iloc[0]

'mbuxcey17'

In [11]:
projects['uid'] = projects.pid.apply(lambda x: users.uid.sample(1).iloc[0])

In [12]:
projects.head()

,pid,ptarget,pdeadline,pdesc,ppicurl,uid
0,Keylex,2000000,2020-11-13 09:34:56,Vestibulum ante ipsum primis in faucibus orci ...,http://dummyimage.com/250x250.jpg/cc0000/ffffff,jmustoe1u
1,Sub-Ex,4200000,2020-11-27 04:30:49,Aenean sit amet justo. Morbi ut odio. Cras mi ...,http://dummyimage.com/250x250.jpg/5fa2dd/ffffff,mcosbee1d
2,Konklux,2800000,2020-12-26 09:21:05,Pellentesque eget nunc. Donec quis orci eget o...,http://dummyimage.com/250x250.jpg/dddddd/000000,fgenthner1q
3,Subin,1300000,2021-01-11 14:04:20,In hac habitasse platea dictumst. Maecenas ut ...,http://dummyimage.com/250x250.jpg/cc0000/ffffff,ecastellanm
4,Voltsillam,3100000,2020-12-28 03:33:51,Nulla tempus. Vivamus in felis eu sapien cursu...,http://dummyimage.com/250x250.jpg/5fa2dd/ffffff,llaba1n

In [24]:
projects.shape

(500, 6)

In [21]:
users[users.uid == 'jmustoe1u']

,uid,uname,upassword,upicurl,ucash
66,jmustoe1u,Justino Mustoe,L7RvijixaKbJ,http://dummyimage.com/250x250.jpg/cc0000/ffffff,7317

In [29]:
with open('projects.sql', 'w') as file:
    for index, row_series in projects.iterrows():
        file.write(f'''INSERT INTO projects (pid, uid, ptarget, pdeadline, pdesc, ppicurl) VALUES ('{row_series.pid}', '{row_series.uid.replace("''", "")}', {row_series.ptarget}, '{row_series.pdeadline}', '{row_series.pdesc[:300]}', '{row_series.ppicurl}');
        
        ''')

## Donates table

for each transaction, choose a random user, and random project, if the transactiontime is before the project deadline, then assign the transaction to the project

In [42]:
dtrans['dtrans'] = False

In [44]:
dtrans.head()

                 dtime    damt  dtrans
0  2019-12-08 10:52:02  221000   False
1  2020-11-29 10:50:19  379000   False
2  2020-03-26 17:03:52  455000   False
3  2020-11-02 11:27:28   91000   False
4  2020-03-04 19:31:36  400000   False

In [51]:
users.sample(1).iloc[0,0]

'jadiscot16'

In [57]:
projects = pd.read_csv('MOCK_DATA_projects_inserted.csv')
projects.head()

,pid,uid,ptarget,pdeadline,pdesc,ppicurl
0,Aerified,llaba1n,4800000,2020-12-31 21:15:13,"Duis bibendum, felis sed interdum venenatis, t...",http://dummyimage.com/250x250.jpg/dddddd/000000
1,Alpha,sburrusr,2500000,2020-11-26 16:31:16,Nulla justo. Aliquam quis turpis eget elit sod...,http://dummyimage.com/250x250.jpg/5fa2dd/ffffff
2,Alphazap,mmccombj,4000000,2020-10-28 10:46:10,Vestibulum ante ipsum primis in faucibus orci ...,http://dummyimage.com/250x250.jpg/ff4444/ffffff
3,Andalax,tbambra10,4100000,2020-12-11 23:57:41,Vestibulum ante ipsum primis in faucibus orci ...,http://dummyimage.com/250x250.jpg/5fa2dd/ffffff
4,Asoka,cmackimmieq,2700000,2020-10-25 10:57:47,Cras in purus eu magna vulputate luctus. Cum s...,http://dummyimage.com/250x250.jpg/dddddd/000000

In [60]:
a = projects.sample(1)
print(a.iloc[0, 0]) # pid
print(a.iloc[0, 3]) # dealine

Subin
2021-01-11 14:04:20

In [62]:
with open('donates.sql', 'w') as file:
    for index, row_series in dtrans.iterrows():
        dtime = row_series.dtime
        damt  = row_series.damt
        dtran = row_series.dtrans
        
        donater_id = users.sample(1).iloc[0,0]
        project = projects.sample(1)
        
        while project.iloc[0, 3] < dtime:
            project = projects.sample(1)
        
        file.write(f'''
        INSERT INTO donates (uid, pid, dtime, damt, dtrans) VALUES 
        ('{donater_id}', '{project.iloc[0, 0]}', '{dtime}', {damt}, FALSE);
        ''')